.Navigate {
    background-color: rgb(101, 42, 42);
    overflow: hidden;
}

.Navigate a {
    float: left;
    color: #ede2e2;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
}

.Navigate .righty {
    float: right;
}

.main {
    margin: 5px;
    padding: 20px;
    background-color: rgb(222, 214, 215);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #080808;
}

li a {
    text-decoration: none !important;
}

div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
